src/conf/WebServices/Ticket_features/wsdl/localhost_8080/Tickets_test1/Ticket_features.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="getTickets" type="tns:getTickets"/>

<xs:element name="getTicketsResponse" type="tns:getTicketsResponse"/>

<xs:element name="getTickets_1" type="tns:getTickets_1"/>

<xs:element name="getTickets_1Response" type="tns:getTickets_1Response"/>

<xs:complexType name="getTickets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTicketsResponse">
<xs:sequence>
<xs:element name="return" type="tns:ticketModels" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketModels">
<xs:sequence>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="driver_ID" type="xs:string" minOccurs="0"/>
<xs:element name="payment_Status" type="xs:string" minOccurs="0"/>
<xs:element name="ticket_No" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTickets_1">
<xs:sequence>
<xs:element name="Tno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTickets_1Response">
<xs:sequence>
<xs:element name="return" type="tns:ticketModels" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>