src/conf/WebServices/NewWebService/wsdl/localhost_8080/Drivers_test1/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="getDriver_Details" type="tns:getDriver_Details"/>

<xs:element name="getDriver_DetailsResponse" type="tns:getDriver_DetailsResponse"/>

<xs:element name="getDrivers" type="tns:getDrivers"/>

<xs:element name="getDriversResponse" type="tns:getDriversResponse"/>

<xs:complexType name="getDrivers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDriversResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverModel">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birth_Date" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="contractor" type="xs:string" minOccurs="0"/>
<xs:element name="driver_ID" type="xs:string" minOccurs="0"/>
<xs:element name="driver_License" type="xs:string" minOccurs="0"/>
<xs:element name="driver_License_State" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="employee_Type" type="xs:string" minOccurs="0"/>
<xs:element name="first_Name" type="xs:string" minOccurs="0"/>
<xs:element name="hire_Date" type="xs:string" minOccurs="0"/>
<xs:element name="last_Name" type="xs:string" minOccurs="0"/>
<xs:element name="note" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="SSN" type="xs:string" minOccurs="0"/>
<xs:element name="salary" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="zip_Code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriver_Details">
<xs:sequence>
<xs:element name="Did" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriver_DetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>