src/conf/xml-resources/web-service-references/OrderFeatures/wsdl/localhost_8080/Orders/OrderFeatures.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="getOrderDetails" type="tns:getOrderDetails"/>

<xs:element name="getOrderDetailsResponse" type="tns:getOrderDetailsResponse"/>

<xs:element name="getOrders" type="tns:getOrders"/>

<xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>

<xs:complexType name="getOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderModels" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderModels">
<xs:sequence>
<xs:element name="customer_ID" type="xs:string" minOccurs="0"/>
<xs:element name="driver_ID" type="xs:string" minOccurs="0"/>
<xs:element name="is_Special" type="xs:string" minOccurs="0"/>
<xs:element name="order_Date" type="xs:string" minOccurs="0"/>
<xs:element name="order_ID" type="xs:string" minOccurs="0"/>
<xs:element name="purchase_Order_Number" type="xs:string" minOccurs="0"/>
<xs:element name="total_Amount" type="xs:string" minOccurs="0"/>
<xs:element name="truck_ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetails">
<xs:sequence>
<xs:element name="OID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderModels" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>