src/conf/WebServices/Driver_paymentsFeatures/wsdl/localhost_8080/Driver_Payments_test1/Driver_paymentsFeatures.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="getPaymentDetails" type="tns:getPaymentDetails"/>

<xs:element name="getPaymentDetailsResponse" type="tns:getPaymentDetailsResponse"/>

<xs:element name="getPayments" type="tns:getPayments"/>

<xs:element name="getPaymentsResponse" type="tns:getPaymentsResponse"/>

<xs:complexType name="getPayments">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPaymentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverPaymentsModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverPaymentsModel">
<xs:sequence>
<xs:element name="driver_ID" type="xs:string" minOccurs="0"/>
<xs:element name="driver_Name" type="xs:string" minOccurs="0"/>
<xs:element name="payment_Due" type="xs:string" minOccurs="0"/>
<xs:element name="payment_ID" type="xs:string" minOccurs="0"/>
<xs:element name="previous_Payments" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaymentDetails">
<xs:sequence>
<xs:element name="Cid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaymentDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverPaymentsModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>